@use "../global" as *;

.l-inner{
  box-sizing: border-box;
  max-inline-size: calc(var(--to-rem) * 1100);
  margin-inline: auto;
  padding-inline: calc(var(--to-rem) * 10);
  
    @include mq('md') {
        max-inline-size: calc(var(--to-rem) * 1120);
    padding-inline: calc(var(--to-rem) * 20);
  }

  @include mq('md') {
    padding-inline: var(--padding-inlinePC);
  }
}
