@use "../global" as *;

.p-front-service {
  background-color: var(--color-blue);
  border-radius: 30px 0 0 30px;
  margin-left: calc(var(--to-rem) * 8);
  padding-block: calc(var(--to-rem) * 60);

  @include mq('md') {
    margin-left: calc(var(--075) * 133);
    border-radius: calc(var(--075) * 70) 0 0 calc(var(--075) * 70);
    padding-block: calc(var(--075) * 133);
  }
}

.p-front-service__lead-wrap {
  margin-top: calc(var(--to-rem) * 42);
  @include mq('md') {
    margin-top: calc(var(--075) * 65);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: calc(var(--075) * 80);
  }
}

.p-front-service__lead {
  color: var(--color-white);
  font-size: calc(var(--to-rem) * 27);
  font-weight: var(--fw-black);
  line-height: calc(42 / 27);
  letter-spacing: 0.05em;

  @include mq('md') {
    font-size: calc(var(--075) * 37);
    line-height: calc(55 / 37);
    flex-shrink: 0;
  }
}

.p-front-service__desc {
  color: var(--color-white);
  font-size: calc(var(--to-rem) * 16);
  font-weight: var(--fw-bold);
  line-height: calc(30 / 16);
  letter-spacing: 0.05em;
  margin-top: calc(var(--to-rem) * 20);

  @include mq('md') {
    margin-top: 0;
    font-size: calc(var(--075) * 17);
    line-height: calc(32 / 17);
    max-width: calc(var(--075) * 580);
  }
}

.p-front-service__cards {
  margin-top: calc(var(--to-rem) * 40);
  display: grid;
  gap: calc(var(--to-rem) * 30);

  @include mq('md') {
    margin-top: calc(var(--075) * 80);
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--075) * 60) calc(var(--075) * 20);
  }
}

.p-service-card {
  background-color: var(--color-white);
  border-radius: 30px 30px 0 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include mq('md') {
    border-radius: calc(var(--075) * 50) calc(var(--075) * 50) 0 calc(var(--075) * 50);
  }
}

.p-service-card__head {
  background-color: var(--color-green);
  padding: calc(var(--to-rem) * 10) calc(var(--to-rem) * 20);
  text-align: center;
  @include mq('md') {
    padding: calc(var(--075) * 20) calc(var(--075) * 30);
  }
}

.p-service-card__label {
  color: var(--color-white);
  font-size: calc(var(--to-rem) * 18);
  font-weight: var(--fw-black);
  @include mq('md') {
    font-size: calc(var(--075) * 24);
  }
}

.p-service-card__body {
  padding: calc(var(--to-rem) * 20);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  @include mq('md') {
    padding: calc(var(--075) * 40);
  }
}

.p-service-card__img {
  aspect-ratio: 550 / 300;
  overflow: hidden;
  margin-bottom: calc(var(--to-rem) * 20);
  @include mq('md') {
    margin-bottom: calc(var(--075) * 30);
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.p-service-card__text {
  font-size: calc(var(--to-rem) * 14);
  line-height: 1.8;
  color: var(--color-black);
  margin-bottom: calc(var(--to-rem) * 30);
  @include mq('md') {
    font-size: calc(var(--075) * 16);
    line-height: 1.8;
    margin-bottom: calc(var(--075) * 40);
  }
}

.p-service-card__btn {
  margin-top: auto;
}
